<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Random Statistics from the SCB</title>
    <!-- <meta http-equiv="refresh" content="20"> -->
    <link href="/static/c3-0.4.13/c3.css" rel="stylesheet" type="text/css" >
    <script src="/static/c3-0.4.13/c3.min.js" charset="UTF-8"></script>
    <style>

.rect {
  fill: steelblue;
}

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
    </style>
    <script src="/static/d3_v3_5_17/d3.min.js" charset="utf-8"></script>
    <script src="static/wsgraph.js" charset="utf-8"></script>
</head>
<body>
<button onclick="stopReloadTimer()">Stop reload timer</button>
<button id="reloadButton" onclick="window.location.reload();">Reload - 30s</button>
<script>
var secondsLeft = 30;
var reloadTimer = setInterval(function () {reloadCountdown()}, 1000);
function reloadCountdown() {
    secondsLeft--;
    if(secondsLeft <= 0) {
        window.location.reload();
    } else {
        document.getElementById("reloadButton").innerHTML = "Reload - "+secondsLeft+"s";
    }
}

function stopReloadTimer() {
    clearInterval(reloadTimer);
    document.getElementById("reloadButton").innerHTML = "Reload ";
}

</script>
<h1>{{title}}</h1>
<p>source: <a href="{{tableUrl}}">{{tableUrl}}</a></p>
{% for column in columns %}
  <p>{{column}}</p>
{% endfor %}
<p>content = {{unit}}</p>
<svg class="chart"></svg>
<div id="c3chart"></div>
<script>


var data = {{valuesY|safe}}; //data = [{name, origValue, value}]
var c3data = {{c3data|safe}};

var barGraphWidth = calculateBarGraphWidth(data)
console.log("barGraphWidth = "+barGraphWidth);
console.log("window.innerWidth = "+window.innerWidth);
console.log(c3data);
//console.log(c3data["columns"][0]);

var chart = c3.generate({
    bindto: "#c3chart",
    data: {
        x: 'x',
        columns: c3data
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d'
            }
        },
        y: {
            label: {
                text: "{{unit}}",
                position: "outer-middle"
            }
        }
    }
});

</script>
</body>
</html>