<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Random Statistics from the SCB</title>
    <meta http-equiv="refresh" content="25">
    <style>

.rect {
  fill: steelblue;
}

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
    </style>
    <script src="static/d3.min.js" charset="utf-8"></script>
</head>
<body>
<h1>{{title}}</h1>
<a href="{{tableUrl}}">{{tableUrl}}</a><br>
{% for column in columns %}
  <p>{{column}}</p>
{% endfor %}
<p>{{unit}}</p>
<svg class="chart"></svg>
<script>


var data = {{valuesY|safe}}; //data = [{name, origValue, value}]

function max_str_len(data) {
    var max = 0;
    for(var i=0; i<data.length; i++) {
        if(data[i].name.length > max) {
            max = data[i].name.length;
        }
        if(data[i].origValue.length > max) {
            max = data[i].origValue.length;
        }
    }
    return max;
}

function barGraph2() {
    var barWidth = max_str_len(data)*10;
    var width = (barWidth + 10) * data.length;
    var height = 200;

    var x = d3.scale.linear().domain([0, data.length]).range([0, width]);
    var y = d3.scale.linear().domain([d3.min(data, function(datum) {return datum.value;}), d3.max(data, function(datum) { return datum.value;})]).rangeRound([0, height]);
    /*
    if (data.length > 1) {
        y = d3.scale.linear().domain([d3.min(data, function(datum) {return datum.value;}), d3.max(data, function(datum) { return datum.value;})]).rangeRound([0, height]);
    } else {
        y = d3.scale.linear().domain([0, data[0].value]).rangeRound([0, height]);
    }
    */
    // add the canvas to the DOM
    var barDemo = d3.select(".chart").
        attr("width", width).
        attr("height", height+100);

    barDemo.selectAll("rect").
        data(data).
        enter().
        append("rect").
        attr("x", function(datum, index) { return x(index); }).
        attr("y", function(datum) { return height - y(datum.value); }).
        attr("height", function(datum) { return y(datum.value); }).
        attr("width", barWidth).
        attr("fill", "#2d578b");

    barDemo.selectAll("text").
        data(data).
        enter().
        append("text").
        attr("x", function(datum, index) { return x(index) + barWidth; }).
        attr("y", function(datum) { return height - y(datum.value); }).
        attr("dx", -barWidth/2).
        attr("dy", "1.2em").
        attr("text-anchor", "middle").
        text(function(datum) { return datum.origValue;}).
        attr("fill", "black");

    barDemo.selectAll("text.yAxis").
        data(data).
        enter().append("text").
        attr("x", function(datum, index) { return x(index) + barWidth; }).
        attr("y", height).
        attr("dx", -barWidth/2).
        attr("text-anchor", "middle").
        attr("style", "font-size: 12; font-family: Helvetica, sans-serif").
        text(function(datum) { return datum.name;}).
        attr("transform", "translate(0, 36)").
        attr("class", "yAxis").
        attr("fill", "black");
}

barGraph2();

</script>
</body>
</html>